[2019-07-03 09:08] Shaniser opened #4 "TODO"
Основные задачи (невыполненные в порядке приоритета):

- [ ] Добавление новых возможностей в функционал движка (#11, #39, #68)
- [ ] Детальная работа с объектами игрового мира (#69)
- [x] Анимации игрока
- [x] Интерфейс (#32, #71)
- [x] Полноценная поддержка 2-го слоя
- [x] Предметы в инвентаре и взаимодействие (#66, #67)
- [x] Сохранения (#76)
- [x] Освещённость (#39)
- [x] Механика ломания и уст

[2019-07-03 09:12] Mazdaywik commented on #4
Теперь можно для отдельных пунктов создавать подзадачи и добавлять сюда.

[2019-07-03 09:12] Mitbus opened #5 "TODO ready"

[2019-07-03 09:12] Mazdaywik opened #6 "Выбор блоков для игры"
Выбрать, с какими блоками мы будем иметь дело

[2019-07-03 09:12] Shaniser commented on #4
А как отметить, что я, например, взялся за задачу, но ещё не выполнил?

[2019-07-03 09:13] Mitbus commented on #5
А вот это

[2019-07-03 09:13] #5 closed, assigned to nobody

[2019-07-03 09:14] Mitbus commented on #5
как удалить?

[2019-07-03 09:15] Mazdaywik commented on #4
Я для примера создал подзадачу для первого пункта.

Assignees ставите на себя, там можете ставить метку «In progress» (создал эту метку специально для вас). Набор меток можно редактировать.

[2019-07-03 09:15] Mitbus commented on #6
А как выбрать это?

[2019-07-03 09:18] Mazdaywik commented on #5
Никак. Раньше была кнопка удаления заявки, сейчас её убрали.

[2019-07-03 09:28] Mitbus commented on #6
Мы у каждой подзадачи можем ставить статус In progress? И как поставить его?

[2019-07-03 09:37] Mazdaywik commented on #6
Когда эту заявку можно закрывать? Когда Вы опишете набор блоков для игры (не очень понял, что вы под этим подразумеваете) и создадите заявку вроде «Реализация блоков для игры».

[2019-07-03 09:41] Mitbus commented on #6
понял, спасибо

[2019-07-03 09:53] ylyxa opened #7 "Обработка ввода с клавиатуры"

[2019-07-03 09:54] ylyxa opened #8 "Обработка нажатий мыши"

[2019-07-03 09:54] Mitbus opened #9 "Основы игрового мира"
Из чего состоит мир? Какие свойства есть у блоков? Есть ли что-то кроме блоков и игрока? Какие возможности есть у игрока?

[2019-07-03 09:56] Mazdaywik commented on #8
А к этой заявке уже будут конкретные коммиты.

[2019-07-03 09:57] Mazdaywik commented on #9
Формулировка навевает на философские размышления 🙂.

[2019-07-03 09:58] Mitbus commented on #6
Давайте минимальный набор блоков: замля, песок, камень, дерево. Пусть они имеют одинаковые свойста

[2019-07-03 09:58] Shaniser commented on #6
Листва еще, очевидно

[2019-07-03 09:59] Mitbus commented on #6
Потом мы можем добавить новые блоки и сделать свойства различными

[2019-07-03 09:59] Mitbus commented on #6
еще какие свойства должны быть у блоков?

[2019-07-03 09:59] Mitbus commented on #6
Чтобы мы их потом могли сделать разными?

[2019-07-03 10:07] Mitbus commented on #9
Мир состоит только из блоков и игрока, позднее появятся мобы (возможно)

[2019-07-03 10:21] Shaniser commented on #9
Параметры блоков:
id(конкретный тип блока, например листва дуба), общий тип блока (земля, камень, дерево, листва, жидкость), координаты блока, крепкость, светимость(возможно), наличие колизии, возможность спрыгнуть с него в низ(как в платформерах)

[2019-07-03 10:31] Mitbus commented on #9
Свойства игрока:
движения(лево, право, прыжок - падение, вниз - спрыгивание как в платформере), направление (куда смотрит игрок - за мышью, те должны быть анимации поворота головы и туловища), инвентарь + выбранный предмет (для начала будем отрисовывать весь инвентарь всегда), расстояние досягаемости блоков (на какое место потягивается при разрушениии и постройке). В последствии: хп, дыхание, голо

[2019-07-03 10:45] Mitbus opened #10 "Игровое пространство"
- Хранит информацию о всех блоках и мобах, которые содержатся в нем
- Координаты каждого блока будут хранится в координатах мира
- Карта освещения (передний слой)
- Имеются 4 слоя: 0 - игрок, -1 - задний фон, 1 - передний фон, 2 - освещение (полупрозрачные блоки)

[2019-07-03 11:04] whitequartz opened #11 "Графический движок v3"
Как его использовать?
**Инициализация**
[code]
* `image` - это объект `Image`
* `background` - это изображение с фоном объекта `Image`
* `playerImage` - это изображение с игроком объекта `Image`
* `interface` - это изображение с интерфейсом объекта `Image`
* `waterAnimation` - это изображение с анимацией воды
* `lavaAnimation` - это изображение с анимацией лавы

Пример использования типа Image:
[c

[2019-07-03 11:26] Mitbus commented on #10
Дополнительно блоки должны реализовывать:
- [x] Параметры блоков:
- id(конкретный тип блока, например листва дуба),
- общий тип блока (земля, камень, дерево, листва, жидкость),
- координаты блока,
- крепость,
- светимость,
- наличие коллизии,
- возможность спрыгнуть с него в низ(как в платформерах)
- [x] Класс блок должен реализовывать методы:
- правый клик
- левый зажатый клик (разрушение)

[2019-07-03 11:26] #6 closed, assigned to Mitbus, Shaniser

[2019-07-03 12:18] Mitbus opened #12 "Генерация мира"
Мир должен генерироваться по специальным ключам (натуральные числа).
Каждое отвечает за одну из возможностей ( можно объединить в одно число):
- размер в ширину
- размер в высоту фиксирован
- максимальное колебание уровня соседних блоков
Необходимо добавить:
- [x] генерация поверхности (#18)
- [x] генерацию пещер (#17)
- [x] генератор деревьев (#24)

[2019-07-03 13:27] Mitbus opened #13 "Архитектура проекта"
Разработать архитектуру проекта: основное классы и некоторые их возможности

[2019-07-03 13:31] Mitbus commented on #13
git clone *link*
git checkout -b *branchname*
git status
git add *filename*
git commit -m *commitname*
git push

[2019-07-03 20:00] #9 closed, assigned to Mitbus

[2019-07-03 20:01] Mitbus opened #16 "Реализация основ игрового мира"

[2019-07-03 23:28] Shaniser opened #17 "Генератор пещер"
Генерация пещер в 2Д матрице мира

[2019-07-03 23:29] pirosveta opened #18 "Генератор поверхностей"
Генерация поверхностей в 2D матрице мира

[2019-07-04 10:17] #18 closed, assigned to pirosveta

[2019-07-04 10:37] #17 closed, assigned to Shaniser

[2019-07-04 10:38] whitequartz commented on #11
Добавил возможность работы с отрисовкой интерфейса и фона

[2019-07-04 10:48] Shaniser opened #20 "Создать визуализатор"
Создать визуализатор для отладки алгоритмов генерации

[2019-07-04 12:21] Mazdaywik commented on #11
Код желательно выделять тремя обратными кавычками, в первой строке после кавычек указываем язык программирования:

[code]
Тогда он будет выделяться как листинг кода
[code]

Названия переменных, функций, классов в тексте желательно окружать окружать кавычками:

    * `image` - это объект `Image`;

отобразится как

* `image` - это объект `Image`;

В тексте выше я разукрасил.

[2019-07-04 14:01] #20 closed, assigned to VolkovNik

[2019-07-04 14:05] Shaniser commented on #10
Корректировка:
map должна иметь лишь массив id
А отдельно в геймареа должен храниться ассоц массив id -> блок с соответствующим id
И да, координаты не нужны в этом случае в свойстве блока

[2019-07-04 14:14] Shaniser commented on #10
Также нужна реализация статических констант MAIN_LAYOUT, BACK_LAYOUT, FORWARD_LAYOUT в классе GameArea

[2019-07-04 14:31] Shaniser commented on #10
Добавить gameArea.width и gameArea.height в конструктор и как константы для экземпляра класса

[2019-07-04 17:15] Shaniser opened #23 "Создание текстур блоков"
Нарисовать текстуры блоков с разрешением 32x32:
Трава
Камень
Дерево
Листва
Вода
Лава

[2019-07-04 17:39] pirosveta opened #24 "Генерация деревьев"
Генерация деревьев в 2D матрице мира

[2019-07-04 17:41] pirosveta commented on #24
#12

[2019-07-04 17:47] pirosveta commented on #24
#12

[2019-07-04 18:51] Shaniser commented on #12
Нужно объединить генератор мира в один файл

[2019-07-04 19:18] #24 closed, assigned to pirosveta

[2019-07-04 20:09] #12 closed, assigned to Mitbus, Shaniser, VolkovNik, pirosveta

[2019-07-04 20:31] Mitbus opened #27 "Работа с камерой движка"
- [x] Оптимизация отрисовки объектов: рисовать только ближайшие объекты
- [x] Использование чанков 16 х 128 (upd: 16х128 не оптимален. Необходимо подобрать оптимальный размер. См переменные chankWidth, chankHeight)
- [x] Представлять чанк в виде `{'chunk': [[...],...,[...]], 'x': 15, 'y': 7, 'slice': 8}` (см ниже)
- [x] Совместимость со второй версией движка
- [x] Автоматическая подстановка тексту

[2019-07-04 20:31] #10 closed, assigned to Irautak, Mitbus, Shaniser, pirosveta

[2019-07-05 00:58] Mitbus commented on #27
Добавил простые перемещения, но необходимо обсудить архитектуру. позднее разделю файлы по директориям

[2019-07-05 09:31] Shaniser commented on #23
Земля(грязь) туда же

[2019-07-05 13:09] whitequartz commented on #27
Чанк представлять в виде: `['chunk': [[...],...,[...]], 'x': 15, 'y': 7, 'slice': 8]`
* `chunk` - чанк
* `x, y` - координаты чанка
* `slice` - слой
В движок нужно будет передавать массив таких чанков, пример:
 `[['chunk': [[...],...,[...]], 'x': 15, 'y': 7, 'slice': 8], ..., ['chunk': [[...],...,[...]], 'x': 12, 'y': 4, 'slice': 1]]`

[2019-07-05 13:37] pirosveta commented on #23
Также добавить текстуру бедрока

[2019-07-05 16:55] Mitbus commented on #27
Баг при движении камеры: через небольшой отрезок времени камера останавливается и начинает моргать отображение текстур

[2019-07-05 19:00] Mitbus commented on #11
Обнаружил несколько проблемных моментов:
- фон не двигается по вертикали
- при долгом движении влево фон смазывается
- на одноцветных текстурах блоков видно, что задний фон просвечивает, если блоки не накладываются, а стоят впритык

[2019-07-05 19:11] whitequartz commented on #11
Полностью изменил работу с движком. Пример смотрите в моей ветке.
Теперь данные принимаются в виде массива чанков.
Работа с камерой будет изменена.
Фон временно отключён.
Интерфейс не работает.

[2019-07-05 21:20] Mitbus commented on #27
Выяснилось, что массивы работают слижком медлено, следует работать с объектами тут и в #11

[2019-07-05 21:38] Mitbus commented on #27
Чанк предоставлять в виде `{chunk: [[...], ... , [...]], x: ... , y: ... , slice: ... }`

[2019-07-05 23:49] Mitbus opened #32 "Интерфейс"
- [x] Разработать основы интерфейса и меню игры
    - [x] рабочая версия лежит в `master`
    - [x] создать новую ветку, куда следует добавить предложения по внешнему виду интерфейса и меню
    - [x] у интерфейса должен быть функционал, аналогичный функционалу terraria
- [x] При помощи слоев движка (файл `engine.js`) создать пробный интерфейс
    - [x] нарисовать текстуры интерфейса
    - [x] испо

[2019-07-05 23:51] Mitbus commented on #13
Можно добавить описание того, что имеется на текущий момент (как описание идей, так и готовый код) списком, наподобие #11

[2019-07-06 00:11] Mitbus commented on #11
Документация устарела. Следует заменить ее актуальной перед добавлением в master

[2019-07-06 10:38] whitequartz commented on #11
Обновил документацию на вторую версию графического движка. Добавил пример

[2019-07-06 10:42] Mazdaywik commented on #11
Вложенные списки оформляются так:
[code]
* пункт
* пункт
  * подпункт
  * подпункт
* пункт
  * подпункт
    * подподпункт
* пункт

(поправил в документации)

[2019-07-06 11:03] Shaniser opened #33 "Более продвинутая генерация мира"
Добавить генерацию:
- [x] Озер
- [x] Лавы под землей
- [x] Руд
- [x] Горизонтальные пещеры (#47)
- [ ] Новые виды локаций
    - лес
    - пустыня
    - поля
и т.п. и соответствующие им виды блоков
- [ ] Различные виды деревьев
- [ ] Разные виды грунта (земля, песок, глина и пр.)
- [ ] Разнородные подземные породы (различный камень на разных высотах, гравий и пр.)
- [ ] Текущие пещеры отвесные, их

[2019-07-06 13:34] whitequartz commented on #11
Добавлен счётчик fps. Для использования вставить в цикл отрисовки:
[code]

[2019-07-06 18:23] Mitbus commented on #27
Производительность улучшена (fps увеличился ~ на 50%)

[2019-07-06 19:51] Mitbus commented on #27
Добавлен метод eventTick, который вызывается при каждой отрисовке объектов

[2019-07-06 21:13] Mitbus commented on #27
Создана обертка для использования камеры. Всю логику уровня можно писать в level.js

[2019-07-06 23:51] Mitbus commented on #27
Добавлен метод beginPlay

[2019-07-06 23:51] #27 closed, assigned to Mitbus

[2019-07-07 00:12] Mitbus commented on #33
Можно добавить:
- [ ] Подземные озера
- [ ] Новые виды локаций
    - лес
    - пустыня
    - поля
и т.п. и соответствующие им виды блоков
- [ ] Различные виды деревьев
- [ ] Разные виды грунта (земля, песок, глина и пр.)
- [ ] Разнородные подземные породы (различный камень на разных высотах, гравий и пр.)

[2019-07-07 00:19] Mitbus commented on #13
Можем ли мы эффективно связать этот код с новой версий движка из master?

[2019-07-07 01:59] Mitbus opened #37 "Способы оптимизации"
Общие идеи
- Возможность использования асинхронной передачи данных
- Производить независимые вычисления паралельно
- Использование бездействующих кадров для реализации логики игры (например, просчитывать растекания воды заранее, если имеется такая возможность)
- Мемоизация (Например, вынести повторные вычисления из циклов. Сохранять результат трудоемких вычислений, в частности, не пересоздавать об

[2019-07-07 03:30] Mitbus opened #38 "Прототип игрового персонажа"
Игровой персонаж должен уметь взаимодействовать с окружающим миром:
- [x] Коллизия с `MAIN_LAYOUT` (за исключением блоков без коллизии)
- [x] Уничтожать заданные блоки
- [x] Выставлять блок на заданную позицию
- [x] Получать информацию об объектах, с которыми взаимодействует (под вопросом, но может потребоваться для реализации поднимания предметов и взаимодействию с блоками - двери, платформы и пр

[2019-07-07 08:35] Shaniser opened #39 "Работа с тенями"
- [x] Градиент общего освещения от поверхности к подземелью
- [x] Затенение скоплений блоков изнутри
- [x] Проработка искусственного освещения (факелы, лава и т.п.)
- [x] Смена дня и ночи
- Далее:
- [x] Мягкое освещение

[2019-07-07 08:48] Shaniser commented on #16
В классе `GameArea` добавить поля `elevationMap` и `shadowMap`, передаваемые через конструктор

[2019-07-07 12:41] Mitbus commented on #39
Добавлен дополнительный слой (слой света - вызывает getLight(x,y)), который передается на рендер

[2019-07-07 13:18] Irautak opened #40 "Загрузка таблицы блоков в gameArea"
Загрузка таблицы происходила через node.js, что не работает в браузере.
Решения:
1) Прикреплять js файл с одной этой переменной отдельным файлом + я тогда закину на python прогу (нативный js не умеет файлы читать, угу), которая при запуске сама этот json-файл конвертит и создаёт скрипт, где только одна эта переменная в строку сжата
2) Cделать сервер на node.js,  но тогда надо не просто html страни

[2019-07-07 13:20] Shaniser commented on #40
3. Хардкод в отдельном файле .js

[2019-07-07 13:21] Irautak commented on #40
Это и есть первое, он создавать сам это код будет, по кнопке

[2019-07-07 13:24] Shaniser commented on #40
Зачем? Зачем ещё питон туда? Непонятное усложнение жизни, я считаю

[2019-07-07 13:25] Irautak commented on #40
Руками не очень удобно в js переменную всё писать, там строка без подсветки синтаксиса будет, а так просто в json всё красиво пишешь и кнопку нажимаешь. В любом случае, это костыльно, я за второй вариант сам. (К тому же я помню, как ты сам сказал, что не хочешь как код всё вставлять, я также считаю)

[2019-07-07 13:34] Irautak commented on #40
В плане сервера :
1. Создаём папку с сайтом, куда будем кидать все нужные файлы
2. Создаем файл server.js, там лежит логика, которая принимает запросы от клиента
3. Соответственно во всех скриптах можем отправлять запросы на этот сервер, просто для начала надо его запускать
Почему я за этот вариант - всё равно придется делать сервер когда-нибудь, а так надо будет только домен найти, если начать за

[2019-07-07 17:54] whitequartz opened #43 "Фон в некоторый момент заканчивается (со скриншотами сюда)"

[2019-07-07 18:32] Shaniser commented on #16
параметр brightness у блока принимает значения от 0 до 9 и означает его светимость

[2019-07-07 18:33] Shaniser commented on #40
Пока юзаем третий вариант

[2019-07-07 18:34] #40 closed, assigned to Irautak

[2019-07-07 21:25] #43 closed, assigned to whitequartz

[2019-07-07 22:18] whitequartz opened #47 "Более горизонтальные пещеры"
Пещеры выглядят слишком вертикальными. Я предлагаю сделать пещеры более горизонтальными

[2019-07-08 10:58] Mitbus commented on #47
см #33

[2019-07-08 12:32] #38 closed, assigned to Irautak

[2019-07-08 13:14] ylyxa opened #50 "Отрисовка игрока"
Дописать в Render отрисовку игрока по координатам

[2019-07-08 14:41] whitequartz commented on #50
Отрисовка персонажа добавлена

[2019-07-08 14:41] #50 closed, assigned to whitequartz

[2019-07-08 14:45] whitequartz commented on #11
Обновлена документация в связи с добавлением отрисовки игрока

[2019-07-09 01:06] Mitbus commented on #33
Также можно использовать заранее нарисованные деревья, либо генерировать их из частей дерева

[2019-07-09 12:35] Mitbus commented on #7
Не уверен, что сюда, но коллизия проверяется по правому нижнему блоку игрока, те фактически можно залетать в блоки

[2019-07-09 12:46] Shaniser commented on #7
А ещё он ходит поблоково, лол
Они вот так странно написали
Я вроде договорился с Владом, он делает

[2019-07-09 13:49] Mitbus commented on #37
За прозрачными объектами ничего не рисуется

[2019-07-09 13:59] Mitbus commented on #16
Добавить флаг отвечающий за прозрачность блоков

[2019-07-09 14:01] Mitbus commented on #37
Добавил вариант решения в ветке optimization

[2019-07-09 16:54] Irautak commented on #7
Я пофиксил, вроде бы, кинул пулл-реквест с этим.

[2019-07-09 18:01] whitequartz opened #55 "Коллизия на угольную, железную, золотую и алмазную руды не действует"
Можно пролетать сквозь руды Я учитываю то, что коллизия игрока кривая

[2019-07-09 18:40] Irautak commented on #55
Я поменял поведение, теперь если блока нет в таблице, то считается, что пройти сквозь него нельзя.
Можно закрывать issue, я полагаю.

[2019-07-09 18:42] #55 closed, assigned to nobody

[2019-07-09 20:58] whitequartz opened #57 "Погода"
Будет добавлено:
- [x] Дождь
- [ ] Гроза

Далее возможно:
- [ ] Снег (если будет добавлена зимняя локация)

Предлагайте свои идеи здесь

[2019-07-10 12:56] pirosveta commented on #57
Также можно добавить снег в зимней локации

[2019-07-10 21:36] Mitbus opened #60 "Refactor"
Рефактор кода файлов gameArea.js, player.js. Отредактировать стиль кода во всех файлах

[2019-07-10 21:38] Mitbus opened #61 "Правила оформления кода"
Добавить правила стилизации кода, единые для всего проекта.
UPD: https://github.com/bmstu-iu9/utp2019-2-2d-game/wiki/Правила-оформления-кода

[2019-07-10 21:44] #47 closed, assigned to Shaniser

[2019-07-10 22:46] #13 closed, assigned to ylyxa, Mitbus

[2019-07-10 23:01] Mitbus opened #62 "Работа с блоками"
- [x] Возможность удаления блоков из мира в радиусе действия игрока
- [x] Возможность установки блока в мир в радиусе действия игрока (без перекрытия другого блока)
- Далее:
- [x] Удаление блоков только нужным инструментом
- [x] Работа с блоками заднего фона (#82)

[2019-07-10 23:21] whitequartz commented on #61
Создал правила оформления кода:
https://github.com/bmstu-iu9/utp2019-2-2d-game/wiki/Правила-оформления-кода

[2019-07-10 23:22] #61 closed, assigned to whitequartz

[2019-07-11 16:38] Mitbus commented on #8
Созданы простейшие функции для работы с мышью (получить координаты, зажатие лкм). Высчитывается радиус-вектор от игрока до курсора

[2019-07-12 07:48] Mitbus commented on #62
Нет обновления света при установке блока

[2019-07-12 07:50] #8 closed, assigned to Mitbus

[2019-07-12 07:52] Mitbus commented on #16
Не хватает флага возможности установки блока поверх текущего

[2019-07-12 13:42] #60 closed, assigned to Shaniser

[2019-07-12 18:35] Mitbus commented on #62
Необходимо сделать корректным и удобным управление при плавающей камере

[2019-07-12 19:29] Mitbus commented on #62
Баг: Если двигаться вперед камеры и зажать пкм, не двигая мышью, то вектор direction не пересчитывается (тк нет изменения мыши) , при этом движении игрок может изменить свое положение относительно мыши => ожидается изменение direction direction. Возможное решение: при зажатой пкм пересчитывать direction каждый кадр, а не только при зажатии

[2019-07-12 19:44] Mitbus opened #66 "Предметы в инвентаре и взаимодействие"
- [x] Создать способ хранить внутреннее состояние инвентаря и взаимодействие с его элементами (#75)
- [x] Добавление блоков в инвентарь
- [x] Установка блоков из инвентаря, ломание блока выбранным предметом

[2019-07-12 19:46] Mitbus opened #67 "Выживание в мире"
- [x] Добавление параметров жизни\голода (и пр.) у игрока и события их изменения
- [x] Обработка события смерти
- [x] Изменение поведения в воде

[2019-07-12 19:47] Mitbus opened #68 "Модель игрока"
- [x] Добавить модель игрока
- [x] Анимация модели
- [x] Отображать выбранный предмет инвентаря

[2019-07-12 19:52] Mitbus opened #69 "Объекты игрового мира"
- [x] Дописать `items.js` (появление некоторых блоков на стадии обсуждения)
- [x] Добавить крафты предметов (#74)
- [ ] Добавить выпадение и поднятие предметов

[2019-07-12 21:01] Mitbus commented on #66
Логика проверки на установку и уничтожение блоков дублируется в `level.js` и `player.js` с небольшими отличиями

[2019-07-13 12:56] Mitbus commented on #67
Мои изменения в ItemInteraction, но как выяснилось это код уже частично существует и в процессе

[2019-07-13 13:59] #7 closed, assigned to ylyxa

[2019-07-13 14:59] Mitbus commented on #16
Странности поведения воды: многие исправлены в player, но блоки до сих пор нельзя ставить в воде

[2019-07-13 15:14] Mitbus opened #71 "Гипотетические задачи"
- [ ] Для каждого блока и предмета должна быть иконка ( в инвентаре и руке)
- [ ] Мобы
    - Описание
    - Характеристики
    - ИИ
    - Анимации
- [x] Продвинутые сохранения
- [ ] Сетевой геймплей
- [ ] Поддержка мобильных устройств (смартфонов и планшетов) (#111)
- [ ] Исправить недочеты с физикой плавания

[2019-07-13 15:18] Mitbus opened #72 "Интерактивные предметы"
- [x] Поддержка предметов со взаимодействием (сундуки, двери и пр.)
- [x] Предметы для взаимодейстия с окружающим миров (кирки, лопаты и пр.) (#75)

[2019-07-13 15:45] Mitbus opened #73 "Корректные переменные"
Вынести переменные для удобной работы с элементами движка
* [x] deltaTime измерять в сек
  * в т.ч. все зависимости

[2019-07-13 16:23] #73 closed, assigned to Mitbus

[2019-07-13 19:17] VolkovNik opened #74 "Таблица Крафтов"
Файл crafts.js содержит в себе две переменные и функцию:
- Первая переменная - ассоциативный массив, отвечающий за те ресурсы, которые понадобятся, и их кол-во. Key - id,  value содержит два поля, первое поле отвечает за то, какие ресурсы понадобятся (массив id), второе - какое кол-во данного материал понадобится для крафта ( в данных массивах идет соответствие по индексам)
- Вторая переменная - а

[2019-07-13 19:18] VolkovNik opened #75 "Список игровых предметов"
Файл items.js хранит описание всех предметов для инвентаря. В файле одна переменная, доступная в виде ассоциативного массива, где key - id, а Value хранит поля:
- name (имя)
- type (чем ломается блок)
- isTool (является ли инструментом)
- isBlock (является ли блоком)
- isAlwaysGoodDestroy (выпадает ли блок при его уничтожении чем-угодно)
- dropId(что выпадает после уничтожения инструментом, указан

[2019-07-14 07:56] Mitbus opened #76 "Сохранения"
- [x] Выяснить необходимые для продолжения игры переменные
- [x] Добавить возможность сохранения игрового процесса
- [x] Добавить возможность загрузки сохранения по  требованию

Все нововведенные переменные, которые необходимо сохранять можно писать комментарии

[2019-07-14 08:11] Mitbus commented on #37
Абсолютно темные блоки - это черная текстура

[2019-07-14 08:15] Shaniser commented on #37
Так и должно быть @Mitbus
Это же оптимизация

[2019-07-14 08:58] Shaniser commented on #76
Обязательно к сохранению:
 * Seed
 * Изменённые чанки. UPD: карту освещения можно пересчитывать, так что она не нужна.
 * Координаты персонажа (возможно скорость)
 * Инвентарь

В будущем:
 * Сундуки
 * Лут на земле
 * Мобов
 * Растекающиеся жидкости

[2019-07-14 09:08] Shaniser opened #77 "Более продвинутый способ разработки"
Ветка develop является этапом тестирования (с возможными недочётами) перед попаданием в мастер. Pull requests в мастер будут именно оттуда.

@Mazdaywik, можно попросить аналогичную io ссылку для этой ветки, пожалуйста? Если это в принципе возможно, конечно. Нам будет значительно удобнее тестировать.

[2019-07-14 09:19] Mazdaywik commented on #77
В смысле, io-ссылку?

[2019-07-14 09:20] Mazdaywik commented on #77
Можно запинить, но запинить может любой. Не только я.

[2019-07-14 09:20] Shaniser commented on #77
Понял, почитаю тогда, спасибо

[2019-07-14 09:28] Mazdaywik commented on #77
Я рассказывал на лекции, что есть очень забюрократизированная модель разработки GitFlow, в ней вся работа ведётся в `develop`, а в `master` переносятся только релизы. Плюс определённые правила, как делать ветки фич и ветки багфиксов. Вот статья, где этот подход был впервые описан:
* <https://habr.com/ru/post/106912/>

Есть более простая модель разработки, которую я рекомендовал на лекции — GitHub

[2019-07-14 09:29] Mazdaywik commented on #77
А что Вы имели ввиду под io-ссылкой?

[2019-07-14 09:47] Shaniser commented on #77
Github pages, судя по всему. Их можно не к мастеру подключить?

[2019-07-14 09:53] Mazdaywik commented on #77
Да, я и забыл, что GitHub pages лежат на домене .io. Поэтому не сразу понял, о чём речь.

GitHub pages можно подключить к корню ветки `master` (как сейчас), корню ветки `gh-pages` или к подпапке `docs` в ветке `master`:
* https://help.github.com/en/articles/configuring-a-publishing-source-for-github-pages

Так что если хотите не `master`, то вместо ветки `develop` придётся использовать `gh-pages`.

[2019-07-14 09:54] Shaniser commented on #77
Желание сделать отдельную ветку возникло в связи с правилами о том, что в мастере не должно лежать ничего недоделанного. Однако, так как почти все задачи очень тесно переплетаются, нам часто хочется использовать уже рабочий код другого человека, который(человек), например, ещё не доделал какие-то конкретные, не касающиеся нас аспекты, чтобы залить это в мастер

[2019-07-14 09:59] Shaniser commented on #77
Кнопка настроек репозитория нам не доступна
Ладно, мастер, так мастер)
Все равно, на сколько я понял, два GitHub Pages для одного репозитория нельзя сделать

[2019-07-14 10:04] Mazdaywik commented on #77
Если в вашей команде запрещена перезапись истории, то можете вливать себе код из чужой ветки. Просто `git merge чужая-ветка`. Если вы разрешаете перезапись истории в своих ветках, то это приведёт к жуткой путанице.

Кстати, если над конкретной задачей работает конкретный человек, то ветки принято называть как `имя-участника/название-ветки` или `имя-участника/issue-77`. К сожалению, я об этом не до

[2019-07-14 10:10] Shaniser commented on #77
Сделал, переключите, пожалуйста

[2019-07-14 10:12] Mazdaywik commented on #77
Нельзя. Можно в ветке `gh-pages` создать несколько папок: `master`, `develop` и т.д. и написать скрипт, который в каждую из них коммитит верхушку соответствующей ветки. Ну и обращаться к ним по разным урлам.

[2019-07-14 10:12] Mazdaywik commented on #77
Переключил.

[2019-07-14 10:20] Mazdaywik commented on #77
Я только что посмотрел документацию, скрипт для подобной ветки `gh-pages` написать несложно.
[code]
С небольшими изменениями скрипт будет работать и на unix-like (предпоследнюю строчку нужно будет переписать). Соответственно, урлы будут
* <https://bmstu-iu9.github.io/utp2019-2-2d-game/master>
* <https://bmstu-iu9.github.io/utp2019-2-2d-game/develop>

Дискламер: я его не запускал, поэтому работоспо

[2019-07-14 13:45] Irautak opened #78 "Улучшение поведения блоков"
Планируется улучшить поведение воды и деревьев для более приятного эстетического восприятия:
- [x] При разрушении дна озёр вода должна разливаться корректно, не образуя неестественных углублений
- [x] Исчезновение воды без источника
- [x] Реализовать "слияние" потоков воды с разной наполненностью
- [x] Устранить баги с растеканием в воздухе
- [x] Корректное уничтожение деревьев и подсчет блоков
-

[2019-07-14 13:56] Mazdaywik commented on #77
Закомитте в ветку `gh-pages` во-первых, сам скрипт, во-вторых, файл `README.md` следующего содержимого:
[code]

[2019-07-14 13:58] Mazdaywik commented on #77
Скрипт полезно закоммитить, чтобы можно было бы переключиться на ветку и обновить.
[code]

[2019-07-14 14:15] Mitbus opened #79 "Альтернативы localStorage"
@Mazdaywik, мы хотим реализовать сохранение всего мира, а он весит очень много. Можем ли мы использовать что-нибудь кроме встроенных средств, например IndexedDB?

[2019-07-14 15:02] Shaniser opened #80 "Какие фичи мы хотим?"
Сюда кидать свои идеи по поводу неочевидных особенностей нашей игры, таких как:
 * Предметы
 * Блоки
 * Абилки
 * Мобы
 * Сюжет(почему нет?)
 * Особенности генерации
 * Механики

[2019-07-14 15:09] Mitbus commented on #80
Хотим данжи

[2019-07-14 15:11] Mitbus commented on #80
Рпг, боссов и много чего еще)

[2019-07-14 15:31] Shaniser commented on #80
Думаю, нужно конкретнее, с подробностями. Желательно на текущем этапе уже думать о персонализации игры, её ключевых особенностях и отличиях

[2019-07-14 17:21] Mazdaywik commented on #79
Она, как я понял из Википедии, поддерживается всеми современными браузерами. Так что можно. Я с современным web’ом не работал, поэтому не в курсе технических деталей. Может быть, @alex-qrcs здесь отпишется содержательнее.

[2019-07-15 09:02] Shaniser commented on #75
Добавить:
id
isTool
isBlock
type (объединить type и whatDestroy
isAlwaysGoodDestroy (ломается с дропом чем угодно)

[2019-07-15 10:12] Mitbus commented on #76
На данный момент будем сохранять:
- `gameArea.map`
- `player.x`
- `player.y`
- `player.vx`
- `player.vy`
- `player.inv`
Для сохранения изменений мира необходимо иметь механизм, позволяющий отслеживать эти изменения. Без изменений нецелесообразно хранить `key` (сид мира). Позднее, вместо всего `gameArea.map` можно хранить `key` и изменения в `gameArea.map` . Сундуки, лут и пр. пока не реализованы,

[2019-07-15 10:26] Mitbus commented on #80
Ну тогда так:
- Многопользовательская игра, возможно придется писать отдельное приложение-сервер и реализовать способы передачи данных между сервером и клиентом
- Продвинутая генерация (см. #33)
- Каждый игрок получает опыт и прокачивает навыки, таким образом он определяет свою классификацию
- Большое количество различных мобов, уникальных для каждого типа местности

Мне кажется, что подробнее сто

[2019-07-15 22:17] VolkovNik commented on #80
Лестницу на луну

[2019-07-15 22:40] #77 closed, assigned to nobody

[2019-07-15 23:04] Shaniser commented on #16
Вместо флага теперь идёт проверка функцией canPlace(x, y), которая проверяет в том числе не жидкость ли текущий блок.

[2019-07-15 23:13] Shaniser opened #82 "Задний слой"
* Создать блоки для заднего слоя
   * Земля
   * Камень
   * Доски
 * Создать инструмент для заднего слоя

[2019-07-16 19:13] Mitbus commented on #76
Добавил возможность загрузки одного сохранения. @Shaniser, все-таки JSON.parse превращает всё в строки и с объектами больше нельзя работать :(

[2019-07-16 19:31] Mitbus commented on #76
По сути можно создать конструктор, который вытаскивает из полей все необходимые данные, но `player.js` и `gameArea.js` подразумевает полную копию кода. Если при рефакторе исправим их описание, то будет круто работать

[2019-07-16 19:50] Mitbus commented on #76
Еще есть предложение передавать только изменяемы части объектов `gameArea` и `player`, которые точно не будут функциями. Это тоже должно решить проблему. Но в таком случае нужно знать имена всех новодобавленных полей, важных при загрузке ( после вчерашнего добавления инвентаря и пр.)

[2019-07-16 20:45] Mitbus commented on #76
Решил вопрос последним способом, все работает, но при перезагрузке на вершинах кубов появляются точки ( можно посмотреть в ветке issue-77). Пока сохранение работает на СКМ и загружается при перезагрузке браузера

[2019-07-16 21:23] #67 closed, assigned to Shaniser

[2019-07-16 21:27] Mitbus commented on #76
Есть идеи, почему это может происходить?
![Снимок](https://user-images.githubusercontent.com/37288286/61330987-9a751280-a829-11e9-9ba6-b2eb5c5fa079.PNG)
upd. Просвечивает не задний фон. Если разрушить дерево, то за ним после перезагрузки тоже появляются точки поверх заднего фона

[2019-07-16 21:28] Mitbus commented on #80
Символично

[2019-07-16 21:30] Mitbus commented on #23
Текстуры для всех существующих в `items.js` блоков созданы, а новые на обсуждении. Стоит закрывать?

[2019-07-16 21:31] Mitbus commented on #37
Мир при сохранении теперь загружается асинхронно

[2019-07-16 21:35] Mitbus commented on #66
Bug: Если собрать блок в инвентарь, взять его в руку, то предметы такого же типа будут уничтожаться слишком быстро

[2019-07-16 21:36] Mitbus commented on #66
Bug: Дерево собирается не полностью, а только тот блок, который был сломан, хотя уничтожается целиком

[2019-07-16 21:39] Mitbus commented on #16
В редких случаях игрок может попасть на самый край блока, при этом его движение в сторону от блока невозможно, считается, что он каждый момент в воздухе => нельзя прыгать. Такое чувство, что где-то стоит <= вместо <

UPD: fixed

[2019-07-16 21:43] Mitbus opened #86 "Bugs"
Описание ошибок, найденных в проекте:
- [x] В редких случаях игрок может попасть на самый край блока, при этом его движение в сторону от блока невозможно, считается, что он каждый момент в воздухе => нельзя прыгать. Такое чувство, что где-то стоит <= вместо < (#16)
- [x] При сохранении и перезагрузке на вершинах кубов появляются точки (#76)
- [x] За прозрачными объектами ничего не рисуется (#37)
-

[2019-07-16 21:45] Mitbus commented on #86
Стоит ли запрос на исправление помечать как bugs?)

[2019-07-16 21:48] Mitbus commented on #33
Иногда игрок генерируется в блоках (Возможно из-за установки его на блок по середине мира, а соседние с ним могут находится выше его уровня)
![Снимок](https://user-images.githubusercontent.com/37288286/61332300-97c7ec80-a82c-11e9-92a8-4f8e53f6464e.PNG)
При этом зайти обратно в эти блоки не удается, а находясь в них их можно ломать

[2019-07-16 22:40] Mitbus commented on #37
Как использовать простои процессора:
- Автосохранение заранее при приближении к моменту сохранения
- Подзагрузка дальних чанков (тк все простаивает в основном до `requestAnimationFrame` и до отрисовки)
- Фоновые эффекты: погода, музыка и пр.
- Процессы, происходящие раз в несколько кадров и независящие от игрока вещи. Например голод, или физику растекания воды, можно считать наперед (если она слиш

[2019-07-16 23:19] Shaniser commented on #33
Ты рофлишь?) Спаун игрока и подобная проработка пока не делалась

[2019-07-17 07:08] Shaniser commented on #86
Думаю норм

[2019-07-17 07:10] Shaniser commented on #66
С этим не сюда, пожалуйста

[2019-07-17 07:10] Shaniser commented on #66
Исправляю

[2019-07-17 08:10] Shaniser opened #87 "Тестирование"
Все, кто не делает ничего конкретного, могут заниматься тестированием.
Задача - находить баги и опытным путём устанавливать их вероятные причины (подробно, со скринами, логом и пр.)

[2019-07-17 08:14] Shaniser commented on #87
<img width="523" alt="Снимок экрана 2019-07-17 в 11 14 45" src="https://user-images.githubusercontent.com/48556605/61358998-303d8b80-a884-11e9-809a-9610648c7aaf.png">
Не смог искусственно получить данный баг.

- [x] Задача: выводить себе в лог player.x, y; player.fx, fy; player.vx, vy на каждом кадре, словить этот баг и прислать подробный отчёт

[2019-07-17 08:28] Shaniser commented on #76
1) Что такое СКМ?
2) Как сохраниться (у меня каждый раз новый мир)?

[2019-07-17 10:40] Shaniser commented on #76
У меня при загрузке стабильно происходит это. Думаю, ты начинаешь вызывать update до подгрузки мира
<img width="540" alt="Снимок экрана 2019-07-17 в 13 38 21" src="https://user-images.githubusercontent.com/48556605/61369279-74d32200-a898-11e9-8f5e-77788cbf52c1.png">

[2019-07-17 11:33] Mitbus commented on #76
![Снимок](https://user-images.githubusercontent.com/37288286/61372353-8cfa6f80-a89f-11e9-84f4-2fe5fff6df83.PNG)
Вызываю update только после сохранения результата. Мб дело в копировании из loadingResult, хотя его там, вроде бы, не происходит. Кстати, у меня таких проблем нет

[2019-07-17 11:37] Mitbus commented on #76
bug: Заметил, что нет обработки ошибок при сохранениях больших миров

[2019-07-17 14:03] whitequartz commented on #86
В некоторых случаях (в момент подвисания), если прыгнуть в воду (даже с небольшой высоты), то можно улететь высоко в небо.
Вот видео, которое демонстрирует данный баг: https://www.youtube.com/watch?v=FkXiyV1bo9A

[2019-07-17 15:54] Shaniser commented on #82
Отменяем)

Теперь нет разделения на задние и передние блоки, и для установки на задний фон блоки будут ставиться (разрушаться с дополнительно зажатой клавишей)

[2019-07-17 21:34] whitequartz commented on #11
Практически полностью организован переход к 3 версии движка
Что нового:
* Значительно увеличено количество кадров в секунду (FPS) в связи с использованием буфера кадров
* Исправлены некоторые недочёты
* ~~Добавлены новые баги:~~
  * [x] ~~Не отображается задний фон блоков~~
  * [x] ~~Временно отключен фон~~
  * [x] ~~Отрисованный мир не меняется после установки блоков и смены времени суток~~

[2019-07-17 21:36] whitequartz commented on #11
Документация будет обновлена в ближайшем будущем.
Пример будет удалён из-за ненадобности.

[2019-07-18 10:51] Shaniser commented on #82
shift)))

[2019-07-18 10:52] Shaniser commented on #68
Нужна замедленная анимация для ходьбы

[2019-07-18 10:52] #62 closed, assigned to Mitbus, Shaniser

[2019-07-18 12:00] Shaniser commented on #16
- [x] А вот с добычей дерева проблема

[2019-07-18 12:01] Shaniser commented on #23
Не думаю, нам ещё много рисовать в любом случае

[2019-07-18 12:03] #66 closed, assigned to Irautak, Shaniser, VolkovNik

[2019-07-18 16:17] Mitbus commented on #87
Баг: При зависаниях в прыжке наносится большое количество урона, даже на небольшой высоте. Вероятно, дело в большом значении deltaTime, которое участвует в расчете скорости перед падением. Баг добавил в #86

[2019-07-18 20:09] Mitbus commented on #86
Исправлен баг с точками. Дело было в JSON, теперь передается копия объекта. Решение в ветке issue-77

[2019-07-18 20:18] Mitbus commented on #87
Баг: Если попытаться сохраниться при изменении сохраняемых констант, то вылетает ошибка. пс. Если мир перестанет грузиться вообще см комменты в `saveWorld.js`

upd. Вероятно, дело в том, что во время сохранения игра подвисает, а это наносит большой урон, который убивает игрока и перезагружает страницу еще до сохранения мира
upd2. если увеличить количество hp, то становится видно, что наносится +\-

[2019-07-18 20:59] Mazdaywik opened #90 "Игра люто тормозит на Edge"
В углу экрана показывается 3 FPS, игра реагирует на клавиши WASD с задержкой две-три секунды. Смотрел ветку `develop`. Компьютер нормальный, Intel® Core™ i5-2430M CPU @ 2.40 GHz, 8 Гбайт ОЗУ, Windows 10 x64.

[2019-07-18 21:02] whitequartz commented on #90
В (#11) я на счёт этого уже занимаюсь

[2019-07-18 21:11] Mitbus commented on #90
У меня в Edge производительность ниже конечно, но не так страшно (- 15-30%). Есть такие наблюдения: порой игра необоснованно тормозит даже на нормальном железе, а на ноутбуке слабее летает. Думаю, что дело может быть в ssd, либо во встроенной графике intel (на ноутбуке i5-8250U, говорят, что интегрированную графику серьезно подкрутили с 8-го поколения)

[2019-07-18 21:14] Mitbus commented on #76
Все исправил. Подробнее в #86

[2019-07-18 21:15] #76 closed, assigned to Mitbus

[2019-07-18 22:24] Mitbus commented on #87
При растекании лавы появляются мерцающие блоки воды вместо блоков лавы

[2019-07-18 22:27] Mitbus commented on #78
Также при разрушении дна озер вода над уничтоженным блоком просто падает вниз  до первого препятствия, и только потом начинает разливаться

[2019-07-19 00:01] Mitbus commented on #11
При использовании фреймбуфера встает проблема: необходимо уметь отслеживать изменения блоков в чанках. Эффективно сделать это на этапе рендера не получается, поэтому давайте перед каждое переприсваивание `gameArea.map` заменим на функцию, которая помимо присваивания будет проверять, в какой чанк установлен блок, и если этот чанк лежит в буфере, то будет добавлять его в массив измененных блоков. То

[2019-07-19 00:04] #82 closed, assigned to nobody

[2019-07-19 00:10] Mitbus opened #91 "Поддержка 3 версии движка"
- [x] Решение проблемы об эффективном отслеживании изменений для передачи во фреймбуфер
- [x] Отрисовка при помощи фреймбуферов
- [x] Решение проблемы падения фпс из-за частого обновления при смене суток
- [x] Анимации игрока
- [ ] Задний фон (#108)
- [ ] Решение вопроса неравномерного освещения заднего и переднего фона
- [ ] Использование простоев: добавить возможность отправлять трудные для отри

[2019-07-19 00:46] Irautak commented on #78
Поток падает вниз, сам блок остается, всё вроде логично, как в Minecraft

[2019-07-19 02:36] Irautak commented on #78
А, если что, вода БЕЗ ГРАВИТАЦИИ должна быть, там иначе тяжко поведение нормальное сделать, если от майнкрафтовской воды исходить

[2019-07-19 02:55] Irautak commented on #87
Лава теперь как вода разливается, со своей текстуркой, соответственно

[2019-07-19 13:17] pirosveta commented on #87
При нахождении в воде или лаве, становится невозможным разрушение блоков

[2019-07-19 13:26] Mitbus commented on #87
Насколько я знаю, мы считаем воду обычным блоком, который можно уничтожить. Поэтому если середина игрока в воде, то добывается вода, а потом сразу разливается обратно.

[2019-07-19 15:47] Mitbus commented on #91
В ветке Graphical-Engine добавил массив `chankDifferList`, который хранит объекты вида `{chunkX, chunkY, layout, list:[{x, y, value} ... { }] }`. Теперь можно проверять наличие чанка в нем(если чанк существует, то его отредактировали). В `gameArea` при каждом изменении нужно добавить в этот объект. ВАЖНО: после каждой перерисовки необходимо полностью занулить этот объект (тогда при полной отрисовк

[2019-07-19 17:45] Mazdaywik commented on #91
Вы, это, внимательнее с английским языком:
* слово **chunk**: https://www.multitran.com/m.exe?s=chunk&l1=1&l2=2
* слово **chank**: https://www.multitran.com/m.exe?l1=1&l2=2&s=chank&langlist=2

[2019-07-19 17:47] Mitbus commented on #91
Уже исправил)

[2019-07-19 17:57] Mazdaywik commented on #91
Однажды я принимал программу, в которой переменная вместо `flag` называлась `flug`. Заинтересовался, посмотрел в словарь. Оказалось, что это слово тоже переводится 🙂.

[2019-07-19 19:59] Mitbus commented on #91
Решили сделать как написано выше, но передавать на отрисовку можно чанк целиком, поэтому, возможно, целесообразно хранить 2-мерный массив флагов (изменялся ли чанк после отрисовки?)

[2019-07-20 14:22] pirosveta commented on #87
При попытке сломать один блок листвы - разрушается также и какое-то количество соседней листвы, а также блоки дерева.

[2019-07-20 14:26] pirosveta commented on #87
Некорректно ломаются деревья, которые граничат с "концом" мира

[2019-07-20 16:34] Shaniser commented on #90
А через любой другой браузер? Лучше? Или не пробовали? А то, может,  Intel® Core™ i5-2430M без дискретной карты слишком слабовато, чтоб хоть как-то с графикой работать..

[2019-07-20 17:55] pirosveta commented on #86
Если пытаться ставить блоки дерева в воздухе, но при этом они сбоку будут соприкасаться с каким-либо другим блоком, то он из инвентаря исчезает, но при этом в мире не появляется.

[2019-07-20 18:01] pirosveta commented on #87
Если пытаться ставить блоки дерева в воздухе, но при этом они сбоку будут соприкасаться с каким-либо другим блоком, то он из инвентаря исчезает, но при этом в мире не появляется.

[2019-07-20 18:05] pirosveta commented on #86
- Некорректно ломаются деревья, которые граничат с концом мира.
- Если пытаться ставить блоки дерева в воздухе, но при этом они сбоку будут соприкасаться с каким-либо другим блоком, то данный блок из инвентаря исчезает, но при этом в мире не появляется.
- При попытке сломать один блок листвы - разрушается также и какое-то количество соседней листвы, а также блоки дерева.
- При ломании дерева не вс

[2019-07-20 18:32] pirosveta commented on #86
Иногда, возможно после долгого нахождения в игре, появляется белый экран и происходит перезагрузка.

Upd: как выяснилось, это происходит из-за смерти персонажа

[2019-07-20 18:34] Mazdaywik commented on #90
Проблема у меня воспроизводится в любом браузере: Edge, двух сборках Хромиума (Спутник и Edge на Хроме) и свежем Firefox’е (обновил до последней версии, прежде чем запустить). На IE11 вообще пустой экран и 0 FPS в углу, про IE написал для полноты картины.

Оказалось, что у меня почему-то браузеры не используют процессор видеокарты (NVIDIA GeForce GT 550M). Вообще. Если смотреть на соответствующую

[2019-07-20 18:35] Mazdaywik commented on #90
Закрываю как **invalid,** поскольку проблема не в программе. Спасибо за то, что обратили внимание на проблему моей машины.

[2019-07-20 18:35] #90 closed, assigned to Mazdaywik, whitequartz

[2019-07-20 18:36] whitequartz commented on #86
Скорее всего смерть игрового персонажа из-за падения или утопления

[2019-07-20 18:43] pirosveta commented on #86
При этом происходит следующая ошибка:
![image](https://user-images.githubusercontent.com/52463878/61582745-1c29b080-ab48-11e9-8706-1864c928e17c.png)

[2019-07-20 18:43] whitequartz commented on #90
Возможно в браузерах отключено аппаратное ускорение. В таком случае происходит эмуляция GPU на CPU, что очень затратно.
В многих браузерах можно в настройках включить аппаратное ускорение (в Edge и IE мне кажется, что нельзя это сделать в браузере).
В IE на MDN вместо стабильной версии WebGL говорится использовать экспериментальную, возможно из-за этого нет работоспособности. Я уже задумывался об

[2019-07-20 18:46] Mitbus commented on #91
`engine.js` 326 строка (`this.gl.viewport(0, 0, w, h);`), константы больше не передаются в функцию. Возможно, такое есть и в других местах

[2019-07-20 18:52] whitequartz commented on #91
Исправлено последним коммитом

[2019-07-20 18:55] Shaniser commented on #32
![Снимок экрана 2019-07-20 в 20 12 50](https://user-images.githubusercontent.com/48556605/61582878-03fe6500-ab39-11e9-8e1d-0f4d7ed2db06.png)
Набросок, в общем

[2019-07-20 19:02] Mitbus opened #94 "Сюжет"
Придумать идею для сюжета игры

[2019-07-20 19:17] Mitbus commented on #91
@whitequartz , у меня теперь летит ошибка: engine.js:365 Uncaught TypeError: Cannot set property '198x121' of undefined

[2019-07-20 19:34] whitequartz commented on #91
Ошибка с переменными:
this.arrayOfChunks вместо this.arrayOfChunk нужно использовать
Исправлено в последнем коммите

[2019-07-20 20:40] Shaniser opened #95 "Третий слой?? Хмм.. (Идея для геймплейной фичи)"
Есть идея реализовать фишку с возможностью по кнопке перейти на 2ой слой. В этом случае возможно, например, первый слой делать полупрозрачным, а также отрисовывать третий слой (его уж точно не давать поменять игроку). Данная фишка позволит делать секретные проходы (в данжах, например), также можно генерировать деревья на рандомном из первых двух слоёв, т.к. их все равно можно будет обойти. Может я

[2019-07-20 20:41] Shaniser commented on #80
Возможность ходить между слоями #95

[2019-07-21 08:00] Shaniser commented on #95
Думаю не стоит делать третий слой как таковой, а вот возможность переходить на второй слой очень даже можно было бы добавить

UPD: беру свои слова назад, с третьим куда прикольнее было бы

[2019-07-21 13:26] Mitbus commented on #87
Появилось после изменения поведения ломания листвы. Если ломать листву близко к основанию дерева у длинной ветки, то ломается часть самого дерева.

[2019-07-21 13:29] Shaniser commented on #95
Сделал возможность перехода между слоями. Лежит в ветке Player

[2019-07-21 13:47] Mitbus commented on #95
Ну уже обсуждали, всем понравилось. А 3 слой, вроде, решили сделать, если не придется много изменений вносить

[2019-07-21 13:49] Mitbus commented on #95
Хотя если есть желание, то можно и переписать все для 3 слоя (если вообще есть потребность в этом)

[2019-07-21 13:52] Shaniser commented on #95
Ок
Отлично
Вы развеяли мои сомнения, сээр

[2019-07-21 13:53] Mitbus opened #96 "Продвинутые сохранения"
- [x] Возможность перезаписи сохранения
- [x] Легковесные сохранения ( за счет сохранения ключа генерации и изменений в мире)
- [x] Сохранения изменений света и генерация света после внесения изменений блоков
- [x] Удаление только одного мира
- [x] Одновременная поддержка более 1 мира в памяти

[2019-07-21 13:54] Mitbus commented on #96
нужно провести тесты для проверки реакции на изменения мира

[2019-07-21 13:56] Mitbus commented on #32
Какие у нас еще будет блоки, для которых нужен отдельный интерфейс? НАсколько я понимаю, точно будут сундуки, верстаки, печи. Возможно, портфели (хотя, по сути, это тот же сундук). Еще не стоит забывать про меню (пауза и меню игры)

[2019-07-21 14:00] Mitbus commented on #87
Не уверен, что это баг, но при зажатой shift прыжки становятся низкими

[2019-07-21 14:02] Mitbus commented on #95
Я, кстати, изменений в `Player` не вижу

[2019-07-21 14:34] Shaniser commented on #95
@Mitbus значит не заливал, сорян
Приеду домой, разберёмся

[2019-07-21 16:12] whitequartz commented on #95
Нужно продумать реализацию.
~~На данный момент, я слышал только предложение использовать третий слой как копию второго,  но без возможности изменений. За такую реализацию я против~~

[2019-07-21 16:40] Shaniser commented on #95
@Mazdaywik, в чём прикол изменения названия?

[2019-07-21 18:29] Mazdaywik commented on #95
http://www.gramota.tv/spravka/letters/87
https://www.primavista.ru/blog/2017/01/06/narashheniya-chislitelnyih
https://ilyabirman.ru/meanwhile/all/o-naraschenii-okonchaniy-chislitelnyh/

[2019-07-21 18:31] Mazdaywik commented on #95
А прик0л и3менения в т0м, 4т0 не над0 в сл0вах 3аменять 6уквы на цифры. Сл0в0 «зий» нужн0 писать 4ере3 «з», а не цифру.

[2019-07-21 18:57] Mitbus commented on #91
Оптимизировал отрисовку фреймбуферов, ждем, пока Влад добавит трек изменений. У нас он уже учитывается. Оптимальное значение чанка изменено на 16х16. ps. Теперь даже на лагающем ноуте +\- 55 фпс

[2019-07-21 19:07] Mitbus commented on #91
После отрисовки фреймбуферов перестали нормально рисоваться сохранения (см. develop)
![Снимок](https://user-images.githubusercontent.com/37288286/61595772-142f4680-ac04-11e9-952f-92b4af821446.PNG)
Причем, судя по деревьям, само сохранение отрабатывает, но по каким-то причинам не может нормально отображаться

[2019-07-21 19:11] Mitbus commented on #96
некорректное отображение в новой версии движка (#91 )

[2019-07-21 19:15] Mitbus commented on #91
исправил

[2019-07-21 19:24] Mitbus commented on #91
Насчет освещения, я предлагаю при расчете искусственного света вообще не учитывать факт того, что блок находится сзади (т.е. его свет - 0.5). А когда свет будет посчитан, то мы на весь задний искусственный фон, который темнее, чем его освещает естественно, положим максимум. Проще говоря, Искусственный и естественный свет считаются отдельно, а потом выбирается максимум.

[2019-07-21 19:30] Mitbus commented on #95
@whitequartz , по-моему имелось ввиду не копия второго слоя, а его передвижение на 3. Те создаем слой между 1 и 3, который совпадает с 3, а потом "вырезаем" в нем пещеры, данжи, руды и пр. (На самом деле так поступают и с 1 слоем, поэтому, возможно, ты подумал, что это его полная копия)

[2019-07-21 19:33] whitequartz commented on #95
Да, мне про это уже @Shaniser сказал

[2019-07-21 19:34] Mitbus commented on #96
При изменениях в мире загрузки не происходит

[2019-07-21 19:56] Mitbus commented on #96
Сохранения не работают, если открыто 2 окна

[2019-07-22 00:33] whitequartz opened #98 "Обновление фреймбуфера каждый кадр"
@Mitbus, абсолютно все чанки отрисовываются каждый кадр повторно, такого не должно быть.

[2019-07-22 13:31] Mitbus commented on #98
В ветке `Graphical-Engine` все работает правильно

[2019-07-22 13:31] Mitbus commented on #98
Ты как проверяешь то, что чанки отрисовываются каждый кадр? Я перед вызовом `render.drawChunk` ставлю `log`, они вызываются только при движении

[2019-07-22 13:54] whitequartz commented on #98
Да, в ветке Graphical-Engine всё нормально. Проверялось в другой ветке и похоже некорректно слилось. Вопрос закрыт.

[2019-07-22 13:54] #98 closed, assigned to Mitbus

[2019-07-22 14:41] Shaniser commented on #95
@Mitbus нужна помощь

[2019-07-22 16:01] alex-qrcs commented on #79
https://localforage.github.io/localForage/
Рекомендую, у меня работало очень хорошо.

[2019-07-22 17:32] Shaniser commented on #68
48x96 размерчики

[2019-07-22 18:40] Mitbus commented on #79
Вообще я уже начал использовать IndexedDB, но из-за асинхронности возникают некоторые проблемы. Думаю, благодаря похожему с localStorage синтаксису мы сможем быстро переписать под localForage

[2019-07-22 18:48] Mitbus commented on #96
Будет использоваться новое хранилище для сохранений - `localForage`

[2019-07-22 18:53] Mitbus commented on #37
оптимальный размер 16. При размере 8 пересоздание происходит достаточно быстро при активном движении. Это влечет потерю кадров. А при размере 32 значительная часть рисуется уже за экраном ( половина всех блоков!). На нескольких устройствах при приближении к размеру в 16 блоков на чанк фпс увеличивается, затем - опять уменьшается

[2019-07-23 10:52] Shaniser commented on #68
![player](https://user-images.githubusercontent.com/48556605/61706561-0e934700-ad51-11e9-9fc7-1877a4938b86.png)

[2019-07-23 10:52] Shaniser commented on #68
![Walking](https://user-images.githubusercontent.com/48556605/61706574-19e67280-ad51-11e9-9656-a6bc27326fbb.gif)

[2019-07-23 10:56] Shaniser commented on #68
![Animation-2](https://user-images.githubusercontent.com/48556605/61708447-7cda0880-ad55-11e9-8831-c8ecc840f692.gif)

[2019-07-23 12:01] Shaniser commented on #68
![Kick](https://user-images.githubusercontent.com/48556605/61710599-a0538200-ad5a-11e9-83da-36ffd0ca5737.gif)
(Возможно выглядит странно, но это удар инструментом, если что..) >_<

[2019-07-23 12:07] Shaniser commented on #68
![Eye](https://user-images.githubusercontent.com/48556605/61710951-8ebeaa00-ad5b-11e9-938a-7bf07f776f57.gif)

[2019-07-23 15:02] Mitbus commented on #91
Починил свет при смене суток и добавил авторасчет времени обновления света. При времени суток от 300 сек фпс сильно не падают (не более 10%). Лежит в Player

[2019-07-23 15:38] whitequartz commented on #11
Обновлена документация. Примеров больше не будет.

[2019-07-24 10:09] Mitbus commented on #87
Баги при работе с лавой
![Снимок](https://user-images.githubusercontent.com/37288286/61785413-54651380-ae14-11e9-8cb5-acbeded8c66e.PNG)

[2019-07-24 18:25] Mitbus commented on #96
Выяснилось, что оно не подходит по размеру данных. Тогда оставим старую

[2019-07-24 18:26] Mitbus commented on #79
LocalForage не подходит из-за маленького сохраняемого значения(2-10 мб)

[2019-07-24 19:01] Mitbus commented on #91
Решили передавать свет в 1-мерной марной матрицей, на 1 со всех сторон больше, чем чанк. Изменения появятся в тестовой ветке унаследованной от `Player`

[2019-07-24 21:20] Mazdaywik commented on #79
А зачем вам сохранять мегабайты? Откуда у вас столько данных берётся?

[2019-07-24 21:25] Shaniser commented on #79
У нас мир 3200х1500 блоков и в три слоя глубиной

[2019-07-24 21:26] Shaniser commented on #79
Мы будем пытаться хранить минимум (например только изменения), но в худшем случае не влезем

[2019-07-24 22:06] Mitbus commented on #96
Исправил

[2019-07-24 22:09] Mitbus commented on #91
Добавил передачу текстуры с анимациями в виде: `{ 'id', 'head': [ [нач х, нач у], [кон х. кон у] ], 'body': [ [нач х, нач у], [кон х. кон у] ], 'legs': [ [нач х, нач у], [кон х. кон у] ] }` и вызов этой анимации для разных частей тела по id

[2019-07-24 22:27] Mitbus commented on #37
Сжатие текстур происходит только при первом вызове, поэтому оптимизация сжатия текстур бессмысленна

[2019-07-24 23:51] whitequartz commented on #39
Что нового:
* Починил освещённость после изменения формата принятия чанка освещённости
* Добавлено динамическое освещение
* Добавлено мягкое освещение

[2019-07-24 23:52] #39 closed, assigned to nobody

[2019-07-24 23:57] Mazdaywik commented on #79
Даже если по байту на блок, получается около 15 мегабайт. Можно, конечно, придумать алгоритмы компрессии, но для начала лучше реализовать «лобовое» решение.

Мир у вас генерируется каждый раз новый, поэтому можно, в принципе, сохранять зерно ГСЧ + дельту, обусловленную действиями игрока. Но это при условии, что игрок обычно не меняет все 3200×1500 блоков, а только малую часть их. Думаю, этот и под

[2019-07-25 18:33] Mitbus commented on #96
При генерации мира можно добавить необязательный параметр - изменения в мире

[2019-07-25 18:49] Mitbus commented on #79
Все верно, но мы хотим, чтобы была честная возможность сохраниться при любых изменениях в мире. К тому же планируется добавить еще "большие миры", в которых будет более одного биома, а это может сильно увеличить мир. Также в планах добавить возможность не просто сохранять текущий прогресс, а иметь возможность хранить одновременно несколько миров. Еще в далеких планах есть мультиплеер.
Насчет оценк

[2019-07-25 18:51] Mitbus commented on #96
Дальнейшие возможности актуальны только с продвинутым интерфейсом меню игры. Ждем #32 .

[2019-07-25 18:57] Mitbus commented on #32
На данный момент в движке нет поддержки интерфейса. Ожидает завершения задачи #11

[2019-07-25 19:38] Mitbus opened #99 "Основы ИИ"
Добавить следующие модели поведения условных мобов относительно игрока:
- [ ] Следование
- [ ] Бесцельное блуждание
- [ ] Побег

[2019-07-26 08:16] Mitbus commented on #72
Добавлены двери и люки

[2019-07-27 16:57] Mitbus commented on #32
В ветку `Interface` добавил пример интерфейса. Старался сделать его интуитивно понятным, поэтому не оставил описание принципа действия каждой кнопочки, но если будут вопросы или предложения - пишите. Обратите внимание, что имеется две похожие версии интерфейса печи.

[2019-07-27 23:57] whitequartz commented on #32
Индикаторы здоровья, еды и т.п. не обязательно делать идеально прямоугольными, можно сделать, при желании, любой формы, например: овальной, трапециевидной, в виде сердечек (как в Minecraft). Текст можно написать поверх индикатора. Можно, например, добавить подобную постобработку:
![alt text](https://i.ya-webdesign.com/images/mortal-kombat-health-bar-png.png)
Проблем с этим у меня быть не должно, н

[2019-07-28 06:41] Shaniser commented on #32
Мегагрязь! ору

[2019-07-28 06:41] Shaniser commented on #32
Мне нравятся наброски, только за что отвечают слоты справа?

UPD: понял

[2019-07-28 10:56] Shaniser commented on #32
![StatBar](https://user-images.githubusercontent.com/48556605/62006384-bdb49180-b148-11e9-87ce-d91c6abeb113.png)
![BreathBar](https://user-images.githubusercontent.com/48556605/62006398-d91f9c80-b148-11e9-9e37-18997a3698fd.png)
![ManaBar](https://user-images.githubusercontent.com/48556605/62006402-dc1a8d00-b148-11e9-8ead-ae757c2e8d1c.png)
![StaminaBar](https://user-images.githubusercontent.com/485

[2019-07-28 17:21] whitequartz commented on #11
Обновлена документация для отрисовки объектов (интерфейса)

[2019-07-29 15:12] whitequartz commented on #57
Демо дождя: https://youtu.be/fEDPX29qHyc

[2019-07-29 21:58] whitequartz commented on #57
Добавлен дождь, смотреть в ветке Player

[2019-07-29 23:10] #79 closed, assigned to Mitbus

[2019-07-29 23:10] #95 closed, assigned to Mitbus, Shaniser, whitequartz

[2019-07-29 23:12] #72 closed, assigned to Shaniser

[2019-07-29 23:28] whitequartz commented on #57
**Нужен че**

[2019-07-30 12:48] whitequartz commented on #57
Дождь теперь более реалистичный

[2019-07-31 16:44] Mitbus commented on #32
Добавил отслеживание нажатия на элементы интерфейса в `level.js -> mouseControl`

[2019-08-01 19:46] Mitbus opened #102 "Звук"
- [x] Поддержка звука
- [ ] Возможность вызывать конкретный звук в конкретный момент ( для написания логики звуков)
- [ ] Настроить звук на каждое событие

[2019-08-01 23:56] Mitbus commented on #102
В `Player` лежит пример звуковых событий

[2019-08-02 19:55] Mitbus commented on #102
Тормозит в Safari, ищем причину

[2019-08-02 22:39] whitequartz commented on #11
Задачи для оптимизации отрисовки (#37):
Переделать методы:
- [ ] constructor & createProgram - сделать откат к автоматическому линкеру (линкер знает что делает, в отличие от меня 😄)
- [ ] createObjects - ID хранятся очень неудачно. Впоследствии в drawChunk из-за этого происходит лишняя нагрузка.
- [ ] drawChunk - избавиться от передачи лишних данных на GPU с помощью ANGLE_instanced_arrays. Перенес

[2019-08-03 10:23] Mitbus commented on #78
Есть предложение разделять дерево на естественное и поставленное игроком, чтобы нормально разрушалось только естественное дерево

[2019-08-03 10:43] Mitbus commented on #78
Не знаю, как должна называться гравитация блоков, но в `gameArea` используется `hasGravity`, поэтому подправил ее с учетом света и добавил соответстующее поле в `items.js`

[2019-08-04 19:49] whitequartz opened #105 "Внутриигровой таймер"
Необходимо добавить независимый таймер со своим `deltaTime` (даже, если будет таймер с константным шагом), на который нужно перенести расчёт камеры, движения игрока, обновления в мире (вода, лава и прочее), чтение данных с мыши и клавиатуры и другое.
Желательно всё сразу перенести на этот таймер.
**Старый `deltaTime` использовать строго для отрисовки и всё что с ней связано! Цикл `update` не предн

[2019-08-04 20:24] Mitbus commented on #105
старый deltaTime не используется для отрисовки, по сути он тогда вообще не нужен. А `newDeltaTime` будет тогда константой

[2019-08-04 20:25] Mitbus commented on #105
На данный момент для всех обновлений в мире я использую свои таймеры по необходимости с различными интервалами

[2019-08-04 20:56] #105 closed, assigned to nobody

[2019-08-06 15:01] Mitbus commented on #78
Сейчас деревья уничтожаются при взаимодействии с соседним блоков, по идее в `items.js` нужно добавить функцию, которая вызывается не при обновлении соседних блоков, а при взаимодействии именно с этим блоком, которая вызывается до уничтожения блока

[2019-08-08 14:45] Mitbus opened #106 "Отчет"
@Mazdaywik , какого рода отчет мы должны написать? Интересует:
- До какого числа
- В каком виде предоставить
- Это командный отчет, либо личный
- Что из себя представляет отчет
- Какой объем

[2019-08-08 15:09] Mitbus opened #107 "Не уничтожаются блоки"
При любом взаимодействии с блоками в `develop` и `interface` вылетает ошибка: `undefined has no properties`

[2019-08-08 15:41] Shaniser commented on #107
У меня нет)

[2019-08-08 15:41] Shaniser commented on #107
Диагностируй у себя

[2019-08-08 16:46] Mitbus commented on #107
У меня так только в одном браузере в сохранении, которое было сделано до вчерашних изменений. Вероятно, какое-то поведение больше не сочетается со старым

[2019-08-08 16:49] Mitbus commented on #96
Последние изменения находятся в `delevop`. Краткая справка лежит в `saveWorld.js`

[2019-08-08 17:02] Mitbus commented on #96
Добавил возможность загружать разные миры при перезагрузке. Для этого после сохранения мира напишите `chooseWorld(Name)`, тогда после перезагрузки будет загружено сохранение с именем `Name`

[2019-08-08 17:16] #96 closed, assigned to Mitbus

[2019-08-08 17:18] #107 closed, assigned to Shaniser

[2019-08-08 18:01] Mazdaywik commented on #106
Отчёты будете писать через год, когда будете проходить практику на предприятиях. По УТП отчётов нет. Мы будем смотреть программы (исходники и их работу) и оценивать вклад, который остался на сайте ГитХаба. В частности, вот это:

https://github.com/bmstu-iu9/utp2019-2-2d-game/graphs/contributors

А также личные профили участников, где показываются коммиты, пулл-реквесты и т.д.

Так что тем, кто в В

[2019-08-08 18:04] Mazdaywik commented on #106
Но если кому-то из вашей команды нравится писать отчёты, то можете и написать. Будет только в плюс. Есть такая специальность «технический писатель», тоже нужная и полезная.

[2019-08-08 18:04] Mazdaywik commented on #106
@alex-qrcs, есть что добавить по вопросу?

[2019-08-08 22:00] whitequartz commented on #11
Исправлено мягкое (плавное) освещение. Теперь оно выглядит немного лучше

[2019-08-09 18:51] pirosveta commented on #86
- Если сломать дерево, то все блоки дерева исчезают, однако листва остается на месте;
- Не знаю баг это или нет, но при переходе игроком на задний план - становится возможным ходить по поверхности воды;
- Когда игрок не может пройти мимо дерева, он может пройти мимо листвы этого дерева, то есть листва остается всегда как бы на "заднем плане".

[2019-08-09 19:00] pirosveta commented on #86
Из инвентаря не только нельзя удалить сложные предметы (кирки, лопаты и т.п.), но и нельзя даже убрать в сундук. При попытке это сделать - происходит зависание навсегда.

[2019-08-09 19:03] Shaniser commented on #86
@pirosveta
1) не знаю, свежие изменения
2) игрок ходит по песку
3) листва не имеет коллизии (как ходить по листикам?)

[2019-08-09 19:04] Shaniser commented on #86
@pirosveta это уже интереснее

[2019-08-09 19:31] Shaniser commented on #86
Исправил, проверяй

[2019-08-10 06:56] Mitbus commented on #86
ТАм одна и та же ошибка вызывается - предмет удалиться не может. А насчет 1 и 3 - cейчас починю, хотя как по- мне без коллизии листвы прикольнее

[2019-08-10 07:30] Shaniser commented on #86
@Mitbus
Я против коллизии
Особенно, если ты сможешь сделать падающую листву

[2019-08-10 08:04] Mitbus commented on #86
Коллизии нет, листочки падают. `develop`

[2019-08-10 08:19] Shaniser commented on #86
Работает отлично! Может сделать, чтоб они не все исчезали, и на земле треть или половина оставалась? Как думаешь?

[2019-08-10 08:37] Mitbus commented on #86
Сейчас сделал так: падающая листва падает все время, а которая останется - до первого препятствия. Потенциально это может принести проблемы: если листочки будут долго жить, то запекшиеся листочки ведут себя иначе. По сути можно исправить, если есть необходимость, но это усложнит логику

[2019-08-10 09:00] Shaniser commented on #86
Саженцы будем делать?
Или ну их?

[2019-08-10 09:03] Mitbus commented on #86
А почему бы и нет? Деревья генерировать умеем

[2019-08-10 09:09] Shaniser commented on #86
Тогда @pirosveta нужно разобраться с тем, как делать это в процессе игры

[2019-08-10 09:36] Shaniser opened #108 "Фон"
Нарисовать красиво смотрящийся в игре (днём и ночью) фон, разрешение 512х512, png, бесшовный

[2019-08-10 09:39] Shaniser opened #109 "Саженцы"
Написать логику генерации дерева из саженца (желательно в items, id саженца - 6)

[2019-08-10 13:39] pirosveta commented on #86
Может будет лучше, если при попытке собрать упавшую листву, будет уничтожаться только разрушаемый блок и те, что стоят на нём? Сейчас же, при уничтожении блока листвы, ломаются и все его соседи.

[2019-08-10 16:28] Mitbus commented on #78
Для новых промежуточных состояний воды было решено полностью переписать логику поведения воды

[2019-08-10 20:13] Mitbus commented on #78
Исправил много мелких ошибок. Остается непонятно, как должна себя вести вода при попадании в нее блоков с физикой. Да и вообще, должна ли вода обратно становится источником при каких-то условиях.

[2019-08-11 18:06] whitequartz commented on #57
Дождь на правой половине экрана может некорректно отображаться.
UPD: Исправлено

[2019-08-11 18:30] Mitbus commented on #91
Добивил учет высоты экрана (`cameraScale`). Теперь при слишком узком экране видно значительно больше, чем на квадратном. Предлагаю ограничить отношение длины к ширине каким-то значением (Например, длинна / ширину <= 2.5)

[2019-08-11 18:32] Mitbus commented on #91
Также из-за этого зум больше не является хаком, но появляются артефакты при отрисовке

[2019-08-11 18:37] Mitbus commented on #86
Будет проблематично отличать упавшую листву от листы на дереве, а такое поведение на дереве выглядит весьма странно

[2019-08-11 18:40] Mitbus commented on #91
По идее нововведение полезно, но вносит ряд проблем. Возможно, стоит по-другому фиксировать количество блоков по высоте. Например, мы можем каждый кадр передавать разный размер пикселей в блоке исходя из разрешения экрана.

[2019-08-11 18:44] whitequartz commented on #86
Пусть листва на дереве имеет какой-то ID. А при падении листвы будет использоваться другой ID.
А также можно добавить параметр data у определённых блоков.

[2019-08-11 18:47] Mitbus opened #110 "Решение вопроса освещения заднего и переднего фона"
@whitequartz , у нас до сих пор не всегда понятно к какому слою относится предмет. Мы можем визуально рисовать разного размера и двигать с разной скоростью относительно камеры слои (как предлагал @Shaniser), чтобы они совпадали только центре камеры? И насколько это вообще может помочь?

[2019-08-11 18:58] Mitbus commented on #86
Я предлагал такое решение для блоков, которые должны себя вести по особенному только при генерации (стволы деревьев, листва, мб что-то еще), но его заругали

[2019-08-11 19:13] Mitbus commented on #37
Как в итоге решили отрисовывать блоки за другими блоками \ интерфейсом? Буфером глубины или сами сделаем проверки?

[2019-08-11 19:19] Mitbus opened #111 "Мобильные устройства"
- [ ] После появления меню (#32) добавить и реализовать пункт "наэкранные кнопки управления"
- [ ] Отслеживать событие нажатия на сенсорный экран как альтернативу клика мыши

[2019-08-11 19:21] Mitbus commented on #111
Но боюсь, что в этом случае придется перенести быстрый инвентарь и бары в верхнюю часть экрана, а вниз поместить кнопки перемещения

[2019-08-11 19:24] Mitbus commented on #57
Еще, при изменении `cameraScale` дождь начинает разбиваться не о землю (#86 )

[2019-08-11 19:27] Mitbus commented on #57
Дождь как-бы следует за игроком, и некоторые это сразу замечают (не я, мне все нравится :D )

[2019-08-11 19:29] Mitbus commented on #91
Выяснилось, что еще ломание и установка блоков не учитывают `cameraScale`

[2019-08-11 19:30] whitequartz commented on #37
Я этим займусь. С помощью буфера глубины, но на низком уровне и с помощью некоторых хитростей

[2019-08-11 19:36] whitequartz commented on #57
Я в многих местах стал забывать об `cameraScale`, т.к. не было необходимости и возможности проверить. Там проблема есть не только с дождём (не буду говорить ещё где, но некоторые вещи вполне заметны при игре).

Если это было на правой половине экрана, то я сейчас это исправил. Но следование дождя осталось, хотя не очень заметно.

[2019-08-11 19:44] whitequartz commented on #57
Исправил

[2019-08-12 19:09] Mitbus commented on #111
Еще есть предложение изменить поведение кликов: будет доступен только ЛКМ, но если в руке то, что можно поставить - оно ставится, иначе - разрушается указанный блок. Такое управление будет удобнее на мобилках. Также это решит проблемы с ПКМ в некоторых браузерах
upd. Загрузил в ветку `test` это предложение, можно потестировать

[2019-08-12 19:30] Mitbus commented on #57
Скорость дождя зависит от скорости игрока: при прыжках он заметно замедляется. Вероятно, из-за этого есть другие баги дождя при движении

[2019-08-12 19:42] Mitbus commented on #91
Подготовил логику игры для запрета зума со стороны `engine.js`, лежит в `develop`

[2019-08-12 20:01] Shaniser commented on #111
Я против, если честно, всей этой затеи
Вы ухудшите то, что есть, и вряд-ли получите что-то рабочее.
Ты забыл про взаимодействие
Вместо того, чтобы открыть сундук ты будешь его ломать

[2019-08-13 10:12] Mitbus commented on #78
Кажется, довел воду до ума в `modificated blocks`

[2019-08-14 00:03] whitequartz commented on #91
Заблокировал зум. Теперь примерно одинаково всё выглядит на разном зуме и исправлены все баги с зумом связанные с графическим движком.

[2019-08-14 20:40] Mitbus commented on #78
Необходимо перерисовать текстуру каменной кладки (см демо в `develop`)

[2019-08-15 18:05] whitequartz commented on #68
Сделано отображение выбранного предмета инвентаря

[2019-08-15 19:35] whitequartz commented on #57
* Скорость капель теперь на 25% быстрее
* Дождь не следует за игроком
* Дождь не дёргается влево
* Расположение капель теперь уникально, ранее можно было заметить, что он повторяется, но со сдвигом влево

[2019-08-15 20:48] Shaniser commented on #87
Стабильность ужасно упала, фризы очень серьёзные и на постоянной основе (с этой точки зрения, стало, конечно, стабильнее), вероятно это как-то связано с тем, что вы сделали фиксированное количество блоков на экране по высоте. По этой же причине все текстуры мерцают. Прошу вернуть все в прежнее состояние, или скорректировать текущее решение так, чтобы не было страшных фризов и, желательно, мерцания

[2019-08-15 21:25] whitequartz commented on #87
На макбуках (и других устройствах с Retina-дисплеями) могла происходить значительная лишняя нагрузка на GPU из-за блокировки зума.
Блокировка зума канваса убрана.

[2019-08-16 07:10] Shaniser commented on #87
Пролблема не исчезла.

[2019-08-16 15:41] whitequartz commented on #11
Исправлено множество небольших багов. В основном не происходил учёт зума и scale (cameraScale)

[2019-08-17 15:51] Shaniser opened #112 "Подсказки"
Нужно написать логику для подсказок на основе нижеописанного вывода сообщений

(Реализовано):
Вывод нужного сообщения на экран командой
showFloatMessage("str") ;
Строки в тексте (через "\n") нужно писать в обратном порядке желаемому выводу, только символами, представленными в font.png

Пока приходит сигнал showFloatMessage("str") - пишет
Если секунду не приходит - убирает
При смене сообщения убира

[2019-08-18 08:16] Mitbus commented on #78
Внес изменения в `develop`

[2019-08-18 08:16] #78 closed, assigned to Mitbus

[2019-08-18 08:45] Mitbus commented on #112
В `develop`, если вызвать новое сообщение (другое по содержанию), пока не закрылось старое, то новое сообщение закрывает старое, но само не показывается

[2019-08-18 09:35] Shaniser commented on #112
Да, его надо спамить до полного закрытия

[2019-08-18 10:12] Mitbus commented on #112
Неправильно определяется конец подсказки, если использовать `\n`. Рамка отрезает часть текста в конце

[2019-08-18 10:24] Shaniser commented on #112
Посмотри там сам в чем дело

[2019-08-18 10:43] Mitbus commented on #112
Как? Я понятия не имею, как там все работает, а там 3 к строк кода

[2019-08-18 10:49] Mitbus commented on #112
Я понял, длина задается как среднее значение длин всех строк, поэтому при неравномерном отрезании строк так происходит. Тогда встает вопрос: будем резать строку равномерно или определять конец по наибольшей строке?

[2019-08-18 11:35] Mitbus commented on #112
Пока передаю все в одну строчку. Как быть, если на данный момент выполняются условия сразу для двух подсказок? Если спамить их вместе, то они перебивают друг друга

[2019-08-19 18:29] Mitbus commented on #112
Сделал так, чтобы новая подсказка перекрывала старую. А подсказки пока влазят в одну строку, если что - буду переносить равномерно

[2019-08-19 18:31] Mitbus commented on #68
Я думаю, что можно добавить несколько других анимации, если есть желание. Так, не хватает плавания, взгляд пока не используется и для Shift нет своей анимации

[2019-08-19 18:37] whitequartz commented on #68
Тогда я взгляд сделаю

[2019-08-20 08:50] Mitbus commented on #111
Взаимодействие решается достаточно просто за счет разных событий клика, а вот по времени уже не успеваю это сделать, поэтому закрываю

[2019-08-20 08:50] #111 closed, assigned to Mitbus

[2019-08-20 15:01] Mitbus commented on #112
Добавил способ обработки всех подсказок из одного массива `prompt.js`, там лежат несколько основных подсказок. Какие есть идеи для новых подсказок (что не понятно при первом знакомстве с игрой)? Еще хочу добавить кнопку, на которую будет отображаться краткая справка по управлению и пр.

[2019-08-20 15:32] whitequartz commented on #112
Мне кажется нужно:
1) Подсказка об управлении на A/D - влево/вправо, W - прыжок, до тех пор, пока игрок не нажмёт одну из этих кнопок
2) Подсказка об переходе на другой слой на S (вроде уже есть)
3) Подсказка об открытии инвентаря и окне крафта, после добычи первых блоков

[2019-08-22 16:39] Mitbus commented on #112
1 и 2 уже есть, а 3 добавлю, спасибо

[2019-08-24 15:50] Shaniser commented on #86
Блоки с перенасыщенностью красного, твой косяк, @Mitbus
Ждём хотфикс

[2019-08-25 00:43] whitequartz commented on #11
* В воде теперь игрок отрисовывается в ней, а не поверх неё.
* Вода теперь прозрачная.
* Анимации жидкости: воды и лавы (для демонстрации они двигаются по синусоиде).
* Неполные блоки жидкости с правильным отображением стоящих под ними блоками жидкости.

[2019-08-25 13:20] Mitbus commented on #86
Починил баг с яндексом, но тк там изменен порядок вызова событий, нельзя зажать ПКМ, чтобы ставить много блоков (mousedown вызывается при отпускании для ПКМ)

[2019-08-25 13:35] Mitbus commented on #112
Добавил основные подсказки, по мере необходимости будем добавлять новые

[2019-08-25 13:35] #112 closed, assigned to Mitbus

[2019-08-25 18:31] whitequartz commented on #57
Дождь теперь падает правильно на воду

[2019-08-27 06:57] Mazdaywik opened #113 "Мы сегодня будем предварительно смотреть репозитории в 12:00"
Добавьте, пожалуйста, в `README.md` ники участников.

[2019-08-27 08:56] #113 closed, assigned to nobody

[2019-08-28 22:50] Shaniser opened #116 "Мы готовы к проверке!"
Приглашаем оценить наше творение, @Mazdaywik, @alex-qrcs!

[2019-08-28 22:51] #68 closed, assigned to Shaniser, whitequartz

[2019-08-29 09:41] Mazdaywik commented on #116
Мы не поняли, где искать инвентарь, и с какими блоками можно взаимодействовать. Ходили-ходили по игровому миру, провалились даже в глубокую пещеру.

Кстати, я давно писал, что на Edge игра тормозит. Надо просто ставить [правильный Edge](https://developer.microsoft.com/en-us/microsoft-edge/).

[2019-08-29 09:44] Shaniser commented on #116
Инвентарь открывается на "i"
Крафты на "o"
В описании все кнопки написаны, плюс вылазят подсказки в игре
Плюс есть наэкранные кнопки для инвентаря и крафтов

Посмотрите хотя бы скриншоты с описанием, мы так старались)

[2019-08-29 09:46] Mazdaywik commented on #116
Но инвентарь после запуска игры у нас пустой. Где найти артефакты вроде молотка и т.д.?

[2019-08-29 09:52] whitequartz commented on #116
Можно нарубить дерева и из него сделать сначала доски, а затем палки. Из досок и палок можно сделать деревянные инструменты. Накопав камня можно сделать каменные инструменты, которые будут эффективнее, чем деревянные.
Существуют ещё железные, золотые и алмазные инструменты.

[2019-08-29 10:02] Shaniser commented on #116
ЛКМ по блоку ломать
Занимает несколько секунд

[2019-08-29 10:03] Shaniser commented on #116
ПКМ ставить блок из руки
Чтобы добавить предмет в быстрый инвентарь, нужно кликнуть по предмету в инвентаре и потом на слот в быстром инвентаре

[2019-08-29 10:22] Mazdaywik commented on #116
Разобрались немного. Надо было сразу предупредить, что деревья — не часть пейзажа, а тоже ресурс. И их можно ломать.

[2019-08-29 11:06] Shaniser commented on #116
Если мы вдруг не написали и это не очевидно, то спешу сообщить, что мир генерируется полностью рандомно
Чтобы сохранить мир и прогресс нужно нажать F.
Чтобы удалить сохранение нужно нажать G.
После перезагрузки страницы будет создан новый мир

[2019-08-29 12:46] Mazdaywik commented on #116
Кстати, раз уж в ветке `gh-pages` находится только один релиз, то вы теперь можете просто влить `master` в `gh-pages`. При слиянии должны возникнуть конфликты в `README.md`, но это поправимо.

[2019-08-29 12:48] Mazdaywik commented on #116
Прикольно, что кладёшь кусок земли, а он через некоторое время обрастает травой. Когда сковыриваешь землю с обоих слоёв, на этом месте получается чёрный квадрат. Это так и должно быть? Если надо, могу сделать скриншоты.

[2019-08-29 12:53] Mazdaywik commented on #106
Сегодня узнал, что отчёт нужен. @alex-qrcs написал на электронную почту капитанам всех команд.

[2019-08-29 14:07] whitequartz commented on #116
Возможно он не чёрный, а тёмный. Находясь на заднем слое можно сломать этот блок с зажатым Shift

[2019-08-29 14:20] whitequartz commented on #116
Если вы не видели подземную крепость, то можно к ней телепортироваться с помощью команды в консоли: `cheat.tp(138, 227) `. Предполагается, что игрок должен сам её найти, но для демонстрации вы можете телепортироваться.

[2019-09-06 13:34] whitequartz commented on #86
Firefox Quantum 69.0 (64-битный)
не работают сохранения